body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.clickableIcon {
    pointer-events: all !important;
    cursor: pointer !important;
}

.imageRadio {
    display: none;
}

[type=radio] + img {
    cursor: pointer;
    padding: 10px;
}

.imageInRadio {
    max-width: 128px;
    max-height: 128px;
}

[type=radio]:checked + img {
    outline: 4px solid #ff3860;
    border-radius: 20%;
}

[type=radio]:checked.correct + img {
    outline: 4px solid #23d160;
    border-radius: 20%;
}

[type=radio]:checked.corrected + img {
    outline: 4px solid #ffdd57;
    border-radius: 20%;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}