.clickableIcon {
    pointer-events: all !important;
    cursor: pointer !important;
}

.imageRadio {
    display: none;
}

[type=radio] + img {
    cursor: pointer;
    padding: 10px;
}

.imageInRadio {
    max-width: 128px;
    max-height: 128px;
}

[type=radio]:checked + img {
    outline: 4px solid red;
    border-radius: 20%;
}

[type=radio]:checked.correct + img {
    outline: 4px solid green;
    border-radius: 20%;
}